include README.md
include Dockerfile
include entrypoint.sh
recursive-include fn_illumio/util *
include fn_illumio/LICENSE
include doc/*.md
include doc/screenshots/*
recursive-include payload_samples/*/ *.json
include lib/*

exclude *.bak