include README.md
include Dockerfile
include apikey_permissions.txt
include entrypoint.sh
recursive-include fn_illumio/util *
include fn_illumio/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *
include lib/*

global-exclude *.bak